{% extends "base.html.twig" %}
{% block title %}ADMIN - {{ parent() }} - Ajout d'un Article {% endblock %}

{% block body %}
    <h1>Ajout Article</h1>

    <form method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Saisir un titre" name="Titre">
        </div>

        <div class="mb-3">
            <textarea class="form-control" name="Description" rows="3"></textarea>
        </div>

        <div class="mb-3">
            <input type="date" class="form-control" name="DatePublication">
        </div>

        <div class="mb-3">
            <select class="form-select" name="Auteur">
                <option value="Enzo">Enzo</option>
                <option value="Lukas">Lukas</option>
                <option value="Rémi">Rémi</option>
                <option value="Bastien">Bastien</option>
                <option value="Loup">Loup</option>
                <option value="Kylian">Kylian</option>
            </select>
        </div>

        <div class="mb-3">
            <input type="file" class="custom-file-input" name="Image">
        </div>


        <button type="submit" class="btn btn-primary">Valider</button>
    </form>


{% endblock %}
