{% extends "base.html.twig" %}
{% block title %}Création compte - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Création d'un compte utilisateur</h1>

    <form method="post">

        <div class="mb-3">
            <input type="email" class="form-control" placeholder="Votre mail" name="mail">
        </div>

        <div class="mb-3">
            <input type="password" class="form-control" placeholder="mot de passe" name="password">
        </div>
        {# à terme il faudrait tester la complexité du mot de passe et un autre champ pour confirmer le mot de passe #}

        <div class="mb-3">
            <select class="form-select" name="roles[]" multiple>
                <option value="Administrateur">Administrateur</option>
                <option value="Redacteur">Redacteur</option>
                <option value="Verificateur">Vérificateur</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
{% endblock %}